:root {
  --aside-width: 100vw;
  --header-height: 64px;
  --footer-height: 64px;
}

body {
  padding: 0;
  margin: 0;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
  :root {
    --aside-width: 300px;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}